header {
  background-color: #2deb2d;

  .page-header__nav {
    display: flex;
    justify-content: space-between;
  }

  .page-header__list {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    list-style: none;

    .site-list__item {
      margin-right: 25px;
    }
  }
}

body {
  background-color: #4c62de;

}
